<html>
        <head></head>
        <body>
            <h1>계산기</h1>
            <h2>합 <%=@add%></h2>   
            <h2>차 <%=@min%></h2> 
            <h2>곱 <%=@mul%></h2> 
            <h2>나누기 <%=@div%></h2> 
        </body>
</html>